<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ReactAppRule" stopProcessing="true">
                    <match url="^(?!.*\.(js|jsx|css|html|png|jpg|jpeg|gif|svg|ico|json)$).*$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.html" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <remove fileExtension=".adts" />
            <mimeMap fileExtension=".adts" mimeType="audio/aac" />
        </staticContent>
    </system.webServer>
</configuration>
